li {
  list-style: none;
}
.title {
  color: #02ccba;
  padding:14px;
}
.main h1 {
  font-size: 15px;
  text-align: center;
}
.main p {
  color: red;
  font-size: 70px;
  text-align: center;
  opacity: 0.7;
  transition: all 3s;
}
.main p:hover {
  background-color: black;
}
.main img {
  max-width: 50%
  transition: all 10s;
  margin:0 auto;
  text-align: center;
}

.header {
  height: 160px;
  width: auto;
  background-color: #26d0c9;
}

.header-list li {
  float: right;
  padding: 20px 20px;
}
.header p {
  float:left;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;

}
@media(max-width: 1000px) {

}

.contact-form {
  padding-top: 100px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}
